
body {
    font-family:Arial, Helvetica, sans-serif;background:#fff;
    padding-top: 70px;
}

.center {
	text-align:center;
	width:680px;
	margin:0 auto;
	background:#000;
	padding:10px;
	height: 375px;
	border-radius:10px;
	background-image: url("../images/spinner-big.gif");
	background-repeat: no-repeat;
	background-position:center;
	background-size:50px,50px;
} 
video {
	width:640px;
	
}

.active { background:blue }


/*#playlist {background:#333;list-style:none;padding:0;margin:0; width:640px;}
#playlist h1 {font: 24px Arial, Helvetica, sans-serif; color:#FFF; font-weight:bold;padding:5px 2px;margin:0;}
#playlist a {color:#eeeedd;background:#333;padding:10px 5px;display:block;text-decoration:none;border-bottom:1px solid #222;}
#playlist a:hover {text-decoration:none; background:#999;color:#000}*/